@font-face {
  font-family: 'Montserrat';
  src: url('./ASSETS/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Fugaz One';
  src: url('./ASSETS/Fonts/Fugaz_One/FugazOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ABeeZee';
  src: url('./ASSETS/Fonts/ABeeZee/ABeeZee-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'ABeeZee';
  src: url('./ASSETS/Fonts/ABeeZee/ABeeZee-Italic.ttf') format('truetype');
  font-style: italic;
}
html{
    scroll-behavior: smooth;
}
body {
  background-color: #13141a;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}
header {
    width: 100%;
    background-color: #13141A;
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 9; /* Adiciona esta propriedade */
}
a{
  cursor: pointer;
  text-decoration: none;
}
/* CABEÇALHO & MENU HAMBURGER */
.cabecalho {
  margin-top: 20px;
  margin-left: 25vh;
  margin-right: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
  font-family: 'Fugaz One';
}

.menu-burger {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.separar {
  width: auto;
  margin-top: 20px;
  border: 3px solid #ffff;
}

/* ESCONDE CHECKBOX */
#menu-toggle {
  display: none;
}

.menu-burger div {
  width: 7vh;
  height: 3px;
  background-color: white;
  z-index: 1001;
  transition: 0.3s;
}

/* ANIMAÇÃO DO X */
#menu-toggle:checked + .cabecalho .menu-burger .bar1 {
  transform: rotate(-45deg) translate(-20px, 20px);
}

#menu-toggle:checked + .cabecalho .menu-burger .bar2 {
  opacity: 0;
}

#menu-toggle:checked + .cabecalho .menu-burger .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* SIDEBAR */
.sid-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100vh;
  right: 0;
  width: 30vw;
  background: #13141a;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.sid-bar a {
  color: #ffff;
}
.sid-bar a:hover{
  font-style: italic;
  cursor: pointer;
}


#menu-toggle:checked ~ .sid-bar {
  transform: translateX(0);
}

.vertical {
  width: 200vw;
  height: 5px;
  margin-right: 30vw;
  transform: rotate(90deg);
  background: white;
}

/* MAIN */
main {
  margin-top: 140px;
  height: auto;
  width: 100%;
  color: #ffff;
}

.conteiner {
  margin-left: 20%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-end: 0.83em;
  margin-block-start: 0.83em;
  font-family: 'Montserrat';
  font-weight: bold;
  unicode-bidi: isolate;
}

p, a{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.horizontal {
  width: 70vw;
  height: 3px;
  background: linear-gradient(to right, #ffff, #13141A);
  margin-top: 0;
  margin-bottom: 20px;
}

/* INPUTS ESCONDIDOS */
#jogos, #rankings, #perfil, #versoes {
  display: none;
}

/* RADIOS LADO A LADO */
.featurs {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  margin: 0px;
}

/* ESTILO DOS BOTÕES */
.featurs label {
  background-color: #13141A;
  width: 130px;
  height: 28px;
  padding: 5px;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  font-size: large;
  transition: 0.2s;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 0;
}

.featurs label:hover {
  font-size: 22px;
}

/* CORES INDIVIDUAIS */
label[for="jogos"] {
  color: #fda543;
  border-color: #fda543;
}

label[for="rankings"] {
  color: #17c69b;
  border-color: #17c69b;
}

label[for="perfil"] {
  color: #fb3640;
  border-color: #fb3640;
}

label[for="versoes"] {
  color: #fa2f75;
  border-color: #fa2f75;
}

/* QUANDO ATIVO */
#jogos:checked + * label[for="jogos"],
#jogos:checked ~ .featurs label[for="jogos"] {
  background-color: #fda543;
  color: #13141A;
}

#rankings:checked ~ .featurs label[for="rankings"] {
  background-color: #17c69b;
  color: #13141A;
}

#perfil:checked ~ .featurs label[for="perfil"] {
  background-color: #fb3640;
  color: #13141A;
}

#versoes:checked ~ .featurs label[for="versoes"] {
  background-color: #fa2f75;
  color: #13141A;
}

/* CONTEÚDO ABAIXO DOS RADIOS */
.conteudos {
  position: relative;
  width: 100%;
}

/* ESCONDE TODOS OS CONTEÚDOS POR PADRÃO */
.conteudo {
  display: none;
  width: 60vw;
  height: 350px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  gap: 30px;
           /* remove espaçamentos extras */
}
.conteudo p{
  text-align: justify;      /* garante alinhamento normal */
}

/* EXIBE CONTEÚDO QUANDO RADIO ESTÁ MARCADO */
#jogos:checked ~ .conteudos #conteudo-jogos,
#rankings:checked ~ .conteudos #conteudo-rankings,
#perfil:checked ~ .conteudos #conteudo-perfil,
#versoes:checked ~ .conteudos #conteudo-versoes {
  display: flex;
  color: #13141A;
}

.feature-text {
  flex: 1;
  margin-left: 30px;
}

.feature-image {
  width: 360px;
  height: 360px;
  margin-right: 0;
  padding: 0;
  margin: 0;
  object-fit: cover;
  border-radius: 10px;
  animation: entradaImg 0.8s ease forwards;
}
@keyframes entradaImg{
  from{
    opacity: 0.5;
    transform: translateX(80px);
  }
  to{
    opacity: 3;
    transform: translateX(0);
  }
}
/*para quando clicar ficvar certinha e o nome n ficar escondido*/
#featurs-conteiner,
#sobre-empresa,
#jogos-conteiner,
#rankings-conteiner,
#perfil-conteiner,
#versoes-conteiner{
  scroll-margin-top: 140px;
}
/* ============================================ */
/* EFEITO DE ANIMAÇÃO DAS LETRAS (CORRIGIDO) */
/* ============================================ */

/* 1. Estilo base para cada letra */
.letra {
    display: inline-block;
     opacity: 1; /* Começa invisível */
     font-style: 'Fugaz One';
     font-weight: bold;
}

/* 2. A Animação */
@keyframes entrar {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* 3. SÓ ANIMA QUANDO O RADIO ESTIVER CHECKED */
#jogos:checked ~ .featurs label[for="jogos"] .letra,
#rankings:checked ~ .featurs label[for="rankings"] .letra,
#perfil:checked ~ .featurs label[for="perfil"] .letra,
#versoes:checked ~ .featurs label[for="versoes"] .letra {
    opacity: 0;
    animation: entrar 0s ease-out forwards;
}

/* 4. ATRASOS PARA CADA RADIO (ESPECÍFICOS) */

/* JOGOS (5 letras) */
#jogos:checked ~ .featurs label[for="jogos"] .letra:nth-child(1) { animation-delay: 0.1s; }
#jogos:checked ~ .featurs label[for="jogos"] .letra:nth-child(2) { animation-delay: 0.2s; }
#jogos:checked ~ .featurs label[for="jogos"] .letra:nth-child(3) { animation-delay: 0.3s; }
#jogos:checked ~ .featurs label[for="jogos"] .letra:nth-child(4) { animation-delay: 0.4s; }
#jogos:checked ~ .featurs label[for="jogos"] .letra:nth-child(5) { animation-delay: 0.5s; }

/* RANKINGS (8 letras) */
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(1) { animation-delay: 0.1s; }
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(2) { animation-delay: 0.2s; }
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(3) { animation-delay: 0.3s; }
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(4) { animation-delay: 0.4s; }
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(5) { animation-delay: 0.5s; }
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(6) { animation-delay: 0.6s; }
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(7) { animation-delay: 0.7s; }
#rankings:checked ~ .featurs label[for="rankings"] .letra:nth-child(8) { animation-delay: 0.8s; }

/* PERFIL (6 letras) */
#perfil:checked ~ .featurs label[for="perfil"] .letra:nth-child(1) { animation-delay: 0.1s; }
#perfil:checked ~ .featurs label[for="perfil"] .letra:nth-child(2) { animation-delay: 0.2s; }
#perfil:checked ~ .featurs label[for="perfil"] .letra:nth-child(3) { animation-delay: 0.3s; }
#perfil:checked ~ .featurs label[for="perfil"] .letra:nth-child(4) { animation-delay: 0.4s; }
#perfil:checked ~ .featurs label[for="perfil"] .letra:nth-child(5) { animation-delay: 0.5s; }
#perfil:checked ~ .featurs label[for="perfil"] .letra:nth-child(6) { animation-delay: 0.6s; }

/* VERSÕES (7 letras) */
#versoes:checked ~ .featurs label[for="versoes"] .letra:nth-child(1) { animation-delay: 0.1s; }
#versoes:checked ~ .featurs label[for="versoes"] .letra:nth-child(2) { animation-delay: 0.2s; }
#versoes:checked ~ .featurs label[for="versoes"] .letra:nth-child(3) { animation-delay: 0.3s; }
#versoes:checked ~ .featurs label[for="versoes"] .letra:nth-child(4) { animation-delay: 0.4s; }
#versoes:checked ~ .featurs label[for="versoes"] .letra:nth-child(5) { animation-delay: 0.5s; }
#versoes:checked ~ .featurs label[for="versoes"] .letra:nth-child(6) { animation-delay: 0.6s; }
#versoes:checked ~ .featurs label[for="versoes"] .letra:nth-child(7) { animation-delay: 0.7s; }
/*fdeaturs completo qause*/
/*começando sobre a emoresa*/

.borde-empresa{
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #13141A;
  display: flex;
  width: 370px;
  height: 150px;
  border-radius: 25px;
  margin-top: 20px;
}

.borde-empresa::before, .borde-empresa::after{
  content: '';
  position:absolute;
  z-index: -1;
  border-radius: 35px;
  width: calc(100% + 15px);
  height:  calc(100% + 15px);
  background: repeating-linear-gradient(120deg, #fb3640, #fb3640 5%, #17c69b 10%, #17c69b 20%, #fa2f75 20%, #fa2f75 30%, #fda543 30%, #fda543 40%);
  background-size: 300% 300%;
  animation: animarBorda 5s linear normal infinite ;
  }


@keyframes animarBorda{
  0% {
    background-position: 100% 50%;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.7);
  }

  50%{
    box-shadow: none;
  }

  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 10px 1px rgba(252, 254, 255, 0.7);
  }
}
.flex-layout {
    display: flex;
    gap: 40px;           /* Cria um espaço entre a borda da imagem e o texto */
    margin-top: 20px;
}

.texto-sobre {
    width: 470px;
    padding-right: 6%;
    text-align: justify;
    font-size: 1.2em;
    font-family: Biryani-regular;
    font-size: 22px;
}

/*aqui começa a parte dos jogos img*/
.conteiner-img-jogos{
  gap: 40px;
  padding-left: 40px;

}
.img_jogos{
  position: relative;   /* referência para o absolute */
  width: 450px;            
  height: 350px;           
  border-radius: 20px;     
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#DemoGame{
  background-image: url(ASSETS/Jogos/DemoGame.jpg);
}
#DemoGame2{
  background-image: url(ASSETS/Jogos/DemoGame2.jpg);
}
#DemoGameRemastered{
  background-image: url(ASSETS/Jogos/DemoGameRemastered.jpg);
}
#DemoGameFinale{
  background-image: url(ASSETS/Jogos/DemoGameFinale.jpg);
}
.conteiner-img-jogos p{
  color: black; text-align: justify; padding-right: 20px;
}
.cont-jogo{
  padding-left: 30px;
  position: absolute;
  inset: 0;              /* ocupa toda a imagem */
  background-color:#fda543;
  margin-top: 278px;
  z-index: 2;
  transition: 0.5s;
}
.img_jogos:hover .cont-jogo{
    margin-top: 85px;
}
.btn-pt3{
  margin-top: 40px;
  margin-left: 42vh;
  border-radius: 15px;
  background-color: #fda543;
  color: #13141A;
  width: 180px;
  height: 80px;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  transition: 0.6s;
}
.btn-pt3:hover{
  background-color: #13141A;
  border: 3px solid #fda543;
  color: #ffff;
  transform: scale(1.1);
}

/* aqui começa o ranking */
.image-profile-pri{
  border-color: #13141A;
  height: 160px;
  width: 160px;
}
.image-profile{
  border-color: #13141A;
  height: 80px;
  width: 80px;
}
.table-ranking{
  background-color: #17c69b;
  border-radius: 30px;
  width: 70vw;
}
thead th{
  padding: 10px;
  font-size: 20px;
}
.conteudo-table{
  justify-content: center;
  text-align: center;
}
.name{
  margin-left: 30px;
  margin-top: 32px;
}
#pos{
  font-size: 25px;
  color: #17c69b;
}
th{
  color: #13141A;
}
.cabecalho-table{
  width: 8vw;
}
tbody tr{
  background-color: #13141A;
  color: white;
}

.jogador{
  display: flex;
}
.jogador img {
  background-color: #ffff;
}

.ranking-v {
  display: none; /*para esconder a bolinha do radio*/
}
/* Quando a linha (tr) TIVER um input marcado dentro dela... */
tr:has(.ranking-v:checked) {
    background-color: #17c69b; /* Cor de fundo verde */
    color: #13141A;           /* Cor do texto escura */
}

/* Ajuste para o texto do número da posição mudar de cor também */
tr:has(.ranking-v:checked) #pos {
    color: #13141A;
}

td{
  border: 2px solid #13141A;
}
/* Estilo para o label cobrir a linha toda e permitir o clique */
.linha-ranking {
    position: relative;
}

.click-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* aqui copmeça a parte do perfil*/
.conteiner-perfil{
  display: flex;
}
.text-perfil{
    width: 14.5%;
    line-height: 1.7;
    padding-right: 2%;
}
.profile {
  display: flex;
  justify-content: space-between; /* Empurra o gráfico para o canto direito */
  align-items: flex-start; /* Alinha o gráfico por baixo, combinando com o design */
  align-items: center;
  width: 53vw;
  border: 2px solid #fb3640;
  border-radius: 20px;
  padding: 15px;
  color: white;
}
/* Alinha a imagem com o bloco de texto */
.profile-header {
  display: flex;
  align-items: center; 
  gap: 15px; /* Espaço entre a galinha e o texto */
  margin-bottom: 10px;
}

/* Deixa o "User" e o "nick" na mesma linha */
.name-row {
  display: flex;
  align-items: baseline;
}

.user-data h3, .user-data h4 {
  margin: 0; /* Remove as margens padrão que empurram os itens */
  font-size: 20px;
}

.profile-header img{
  border-radius: 50%;
  height: 150px;
}
.pontos {
  font-size: 0.9rem;
  margin-top: 5px !important;
}

.dividir {
  margin-top: -12px;
  height: 1px;
  background-color: #777777;
  width: 14vw;
}

.rankings p {
  margin: 12px 0;
  font-size: 18px;
  color: #ffffff;
}
.grafico {
  display: flex;
  align-items: center; /* Alinha as barras pelo centro (vertical) */
  gap: 8px;            /* Espaço entre as barrinhas */
  height: 200px;       /* Altura máxima que o gráfico pode ter */
  padding: 20px;
}

.profile-bar {
  width: 1px;          /* Largura de cada barrinha */
  height: 1px;
  background-color: #fb3640; /* Cor vermelha da imagem */
  border-radius: 10px; /* Deixa as pontas arredondadas */
  transform-origin: center; /* aqui é a mudança */
  animation: ampulheta 7s infinite ease-in-out;
}

#bar1 { animation-delay: 0s; }
#bar2 { animation-delay: 0.5s; }
#bar3 { animation-delay: 1s; }
#bar4 { animation-delay: 1.5s; }
#bar5 { animation-delay: 2s; }
#bar6 { animation-delay: 2.5s; }
#bar7 { animation-delay: 3s; }
#bar8 { animation-delay: 3.5s; }

@keyframes ampulheta{
  0%{
    transform: scaleY(40);
  }
  50%{
    transform: scaleY(300);
  }
  100%{
    transform: scaleY(40);
  }
}

.chart{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background: conic-gradient(
    #17c69b 0% 50%,
    #fa2f75 50% 72%,
    #fda543 72% 100%
  );
  margin-left: 10px;
  animation: rodar 15s linear infinite;
}

@keyframes rodar {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.estatistica{
  display: flex;
  align-items: center;
}
.genero{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.genero div{
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.color{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
#color1{
  background: #17c69b;
}
#color2{
  background: #fda543;
}
#color3{
  background: #fa2f75;
}

/*aqui começa a parte das versões*/
.label-versoes{
  display: flex;
  gap: 40px;
  margin-top: 50px;
  align-items: center;
}
#jogo1, #jogo2, #jogo3, #jogo4{
  display: none;
}
.img-versoes{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  opacity: 0.7;
  transition: 0.1s ease;
  object-fit: cover; /* Garante que a imagem preencha o quadrado sem esticar */
  cursor: pointer;
}
.img-versoes:hover {
  opacity: 1;           /* Fica clarinho ao passar o mouse */
  transform: scale(1.1); 
  cursor: pointer;
}
#jogo1:checked ~ .label-versoes label[for="jogo1"] img,
#jogo2:checked ~ .label-versoes label[for="jogo2"] img,
#jogo3:checked ~ .label-versoes label[for="jogo3"] img,
#jogo4:checked ~ .label-versoes label[for="jogo4"] img {
  opacity: 1;
  transform: scale(1.25);
  box-shadow: 0 0 15px 7px rgba(255, 255, 255, 0.6);
}
.div {
  height: 480px;
  width: 68vw;
  border: 2px solid #fa2f75;
  border-radius: 15px;
  margin: 40px 0;
  overflow: hidden; /* esse coisa aquin faz a tabela n vazar */
  position: relative; /* Garante que o alinhamento interno seja respeitado */
}

.cont-table {
  display: none; 
  width: 100%;   
  height: auto;
  border-collapse: collapse;
  border: none; 
}
.cab-version{
  background-color: #fa2f75;
}
.version-itens td{
  font-weight: bold; 
  border: none;
  line-height: 40px;
  padding-top: 10px;
}
.version-number{
    width: 5%;
    padding: 0px;
    font-size: 0.8em;
    padding-left: 20px;
}
.version-data{
    width: 0.1%;
    padding: 0px;
    font-size: 0.8em;
}
.title-game{
    color:  #13141A;
    text-align: left;
    padding-left: 15px;
}

.dotted-line {
    color: #fa2f75;
}

#jogo1:checked ~ .cont-version #cont-jogo1,
#jogo2:checked ~ .cont-version #cont-jogo2,
#jogo3:checked ~ .cont-version #cont-jogo3,
#jogo4:checked ~ .cont-version #cont-jogo4{
  display: table;
}

/*aqui começa o rodapé*/
.rodape{
  text-align: center;
  display: flex;
  color: #ffff;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
  height: 70px;
}
.rodape p{
  margin-top: 30px;
}
.rodape span{
  margin: 10px;
  border: 1px solid #ffff;
}